
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 mx-auto mb-5">
      <h4 class="bg-light d-inline px-4">マイページ</h4>
    </div>
  </div>
  <div class="row">
    <table class="col-md-4">
      <tr>
        <td class="text-center">登録情報</td>
        <td>
          <button type="submit" class="btn btn-success mb-3">
            編集する
          </button>
        </td>
      </tr>
    </table>
  </div>


  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        <tr>
          <td class="bg-light" style="width: 30%">氏名</td>
          <td>

            <%#= customer.address %>
          </td>
        </tr>
        <tr>
          <td class="bg-light">カナ</td>
          <td>

          </td>
        </tr>
        <tr>
          <td class="bg-light">郵便番号</td>
          <td>

          </td>
        </tr>
        <tr>
          <td class="bg-light">住所</td>
          <td>

          </td>
        </tr>
        <tr>
          <td class="bg-light">電話番号</td>
          <td>

          </td>
        </tr>
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td>

          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <table class="col-md-5">
      <tr>
        <td class="text-center">登録情報</td>
        <td>
          <button type="submit" class="btn btn-primary mb-3 mx-2">
            一覧をみる
          </button>
        </td>
      </tr>
      <tr>
        <td class="text-center">注文履歴</td>
        <td>
          <button type="submit" class="btn btn-primary mb-3 mx-2">
            一覧をみる
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>


