<div class="container mt-4">

  <div class="row">
    <div class="col-md-2">
      <div class="card mt-3">
        <div class="card-header">ジャンル検索</div>
        <p class="card-text m-3">ケーキ</p>
        <p class="card-text m-3">焼き菓子</p>
        <p class="card-text m-3">プリン</p>
        <p class="card-text m-3">キャンディ</p>
      </div>
    </div>
    <div class="col-md-8 mt-3">
      <h4>商品一覧(全x件)</h4>

    </div>


    <%= paginate items %>

  </div>




</div>