<div class="container mt-4">
<div>
  <%= flash[:notice] %>
</div>
  <div class="row">
    <div class="col-md-3">
      <div class="card mt-2">
        <div class="card-header">ジャンル検索</div>
        <p class="card-text m-3">ケーキ</p>
        <p class="card-text m-3">焼き菓子</p>
        <p class="card-text m-3">プリン</p>
        <p class="card-text m-3">キャンディ</p>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <%#= image_tag user.get_item_image(150,100) %>
    </div>
    <div class="col-md-4">
      <%= %>
    </div>
          </tr>
          <tr class="border-top">
            <th class="p-2">name</th>
            <td class="p-2"><%#= item.name %></td>
          </tr>
          <tr class="border-top">
            <th class="p-2">introduction</th>
            <td class="p-2"><%#= item.introduction %></td>
          </tr>

    </div>



  </div>




</div>