<!--public/homes#abouot-->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1 class="text-center">About</h1>
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row-md-10 mx-auto">-->
    <!--<div class="mx-auto col-md-12">-->
      <p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。</p>
    <!--</div>-->
    <!--<div class="row mx-auto d-block justify-content-center">-->
      <%= image_tag('about.jpg') %>
    </div>
  </div>
</div>