<!--public/orders#index-->
<!--注文履歴一覧-->

<div class="container">
  <div class="row">
    <h4>注文履歴一覧</h4>
  </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-11 mx-auto">
      <table class="table border">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <!--eachメソッド使う！-->

        <tr>
          <td>12/4</td>
          <td>東京都</td>
          <td>ショートケーキ</td>
          <td>500円</td>
          <td>入金確認</td>
          <td>
            <button type="submit" class="btn btn-primary">
              表示する
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>